* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

/* Header */

.header {
  display: flex;
  flex-direction: row;
  height: 5em;
  margin: 0 auto;
  width: 95%;
  justify-content: space-between;
}

.container-top-header {
  background-color: #323029;
}

.top-header {
  display: none;
  width: 91%;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.top-header ul {
  display: flex;
  list-style: none;
}

.top-header li {
  font-size: 15px;
  margin: 0.2em 0.5em;
  padding: 0.1em;
}

.top-header li a {
  text-decoration: none;
  color: #e7e7e7;
  font-weight: 400;
}

.logo-header {
  display: none;
  margin-top: 0.5em;
}

nav {
  display: none;
}

nav li {
  list-style: none;
}

nav li a {
  text-decoration: none;
  color: #272a31;
  font-weight: 600;
  padding: 0.2rem 1rem;
  transition: font-size 0.25s;
}

nav a:hover {
  color: #ec5242;
  font-size: 17px
}

.nav-links {
  display: flex;
}

.last-nav {
  padding: 0.6em;
  margin-left: 2em;
  color: #ec5242;
  border: #ec5242 solid 5px;
}

.menu-button {
  margin-top: 0.5em;
  margin-left: 0.5em;
  padding: 0 0.5em;
  width: auto;
  border: 0;
  background-color: unset;
}

/* Headline Section */

.margin-container {
  margin: 0 5%;
}

.background-headline {
  background-color: #f1f1f1;
}

.headline-section {
  margin-top: 2em;
  padding-bottom: 10%;
}

.headline-section h1{
  color: #ec5242;
  font-weight: 900;
  font-size: 50px;
  margin-bottom: 30px;
}

.headline-section h1 span {
  font-weight: 400;
  font-size: 40px;
}

.container-p {
  border: #ffffff solid 4px;
  padding: 1em;
  max-width: 48em;
}

.headline-section h3 {
  margin-top: 0.5em;
  font-weight: 900;
  font-size: 30px;
  color: #4e4e4e;
}

.paragraphs {
  font-weight: 400;
  font-size: large;
  line-height: 1.8em;
  color: #3b3b3b;
}

.b-h3 {
  margin-top: 0.3em;
  font-weight: 400;
  font-size: 22px;
}

/* Main program section */

.background-main-program {
  background-image: url(../img/background-main-program.jpg);
  padding-top: 7%;
  padding-bottom: 10%;
}

.main-program-section {
  text-align: center;
  width: 95%;
  margin: 0 auto;
}

.main-program-section h2{
  color: #f9f9f9;
  font-weight: 700;
  font-size: 1.8em;
  margin-bottom: 0.8em;
}

.line-bar {
  background-color: #ec5242;
  height: 2px;
  margin: 0 auto;
  max-width: 4em;
}

.main-program-section ul {
  margin-top: 2.5em;
}

.main-program-cards {
  background: rgba(203, 203, 203, 0.1);
  list-style: none;
  color: #e7e7e7;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  padding: 1.5rem;
  gap: 0.5rem;
  margin: 0.8em 0;
  height: 10em;
}

.main-program-cards h3 {
  color: #ec5242;
  font-weight: 700;
  font-size: 22px;
  width: 30%;
}

.main-program-cards p {
  color: #f9f9f9;
  font-weight: 400;
  line-height: 1.5em;
  width: 50%;
  margin-left: 2px;
}

.main-program-section-cards {
  padding-bottom: 2em;
}

.main-program-section a {
  color: #ededed;
  font-weight: 300;
  font-size: 25px;
}

.link-main-program {
  display: none;
  margin-top: 2.5rem;
}

.orange-button {
  background-color: #ec5242;
  color: #f1f1f1;
  padding: 2em;
  margin: 0 auto;
  border: none;
}

/* Featured Guests */

.featured-guests-section h2{
  color: #272a31;
  font-weight: 700;
  font-size: 1.8em;
  margin-bottom: 0.8em;
}

.featured-guests-section {
  text-align: center;
  width: 95%;
  margin: 0 auto;
  padding-top: 2em;
}

.featured-guest-container {
  margin-top: 2em;
  width: 100%;
}

.individual-guest {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.8em;
  text-align: left;
}

.individual-guest img{
  width: 140px;
  height: 150px;
  margin-right: 1em;
}

.description-guest {
  height: 95%;
  width: auto;
}

.description-guest h3 {
  color: #272a31;
  font-size: 23px;
  margin-bottom: 0.2em;
}

.description-guest h4 {
  color: #ec5242;
  font-weight: 700;
  font-style: italic;
  font-size: 15px;
  margin-bottom: 1.2em;
}

.description-guest p {
  font-size: 14px;
  line-height: 1.6em;
  margin-top: 1em;
}

.line-grey-bar {
  background-color: #d3d3d3;
  height: 1.5px;
  margin: 3px 0;
  max-width: 2em;
}

@media (min-width: 768px){
    /* Header */
  .container-header {
    background-color: #fff;
  }

  .header {
    width: 80%;
  }

  .top-header {
    display: flex;
  }

  .logo-header {
    display: flex;
  }

  .nav-links {
    flex-direction: row;
    align-items: last baseline;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .menu-button {
    display: none;
  }

  /*Headline*/

  .margin-container {
    margin: 0 11%;
  }

  .headline-section {
    padding-top: 5%;
  }

  /* Main Program section */

  .background-main-program {
    padding-top: 4%;
    padding-bottom: 6%;
  }

  .main-program-section h2 {
    font-size: 2.2em;
  }

  .main-program-section-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.3em;
    margin: 0 20px;
  }

  .main-program-cards {
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    height: 20em;
    width: 15em;
  }

  .main-program-cards p,
  .main-program-cards h3 {
    width: 100%;
  }

  .orange-button {
    display: none;
  }

  .link-main-program {
    display: inherit;
  }

  /* Featured guests */

  .featured-guest-container {
    display: grid;
    grid-template-columns: auto auto;
  }

  .featured-guests-section {
    width: 90%;
  }
}

@media (min-width: 1226px) {
  .featured-guests-section {
    width: 70%;
  }
}